{include file="public/base" /}
<block name="main">
    <fieldset class="layui-elem-field">
        <legend>日志详情</legend>
        <div class="layui-field-box">
            <form class="layui-form" action="">
                <div class="layui-form-item">
                    <label class="layui-form-label">行为名称</label>
                    <div class="layui-input-block">
                        <input disabled type="text" value="{$detail['actionName'] ? $detail['actionName'] : ''}" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">操作用户ID</label>
                    <div class="layui-input-block">
                        <input disabled type="text" value="{$detail['uid'] ? $detail['uid'] : ''}" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">用户昵称</label>
                    <div class="layui-input-block">
                        <input disabled type="text" value="{$detail['nickname'] ? $detail['nickname'] : ''}" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">操作时间</label>
                    <div class="layui-input-block">
                        <input disabled type="text" value="{$detail['addTime'] ? date('Y-m-d H:i:s', $detail['addTime']) : ''}" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">操作URL</label>
                    <div class="layui-input-block">
                        <input disabled type="text" value="{$detail['url'] ? $detail['url'] : ''}" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">请求数据</label>
                    <div class="layui-input-block">
                        <textarea disabled class="layui-textarea">{$detail['data'] ? $detail['data'] : ''}</textarea>
                    </div>
                </div>
            </form>
        </div>
    </fieldset>
</block>
<block name="myScript">
    <script>

    </script>
</block>