{include file="public/base" /}
<block name="main">
    <fieldset class="layui-elem-field">
        <legend>系统配置 - {$detail['id']? '编辑' : '新增'}参数字典</legend>
        <div class="layui-field-box">
            <form class="layui-form" id="layui-form" action="" enctype="multipart/form-data">
                {if condition="isset($detail['id'])"}
                    <input type="hidden" name="id" value="{$detail['id']}">
                {/if}
                <div class="layui-form-item">
                    <label class="layui-form-label"><span style="color:red">*</span> 模块</label>
                    <div class="layui-input-block">
						<select name="module_id" lay-verify=""> 
							<option value="">请选择</option>   
							{foreach $module_id as $k=>$v}
								<option value="{$k}" {if $detail['module_id'] eq $k}selected{/if}>{$v}</option>  
							{/foreach}                    
						</select>
                    </div>
                </div>				
                <div class="layui-form-item">
                    <label class="layui-form-label"><span style="color:red">*</span> 名称</label>
                    <div class="layui-input-block">
                        <input type="text" name="name" required value="{$detail['name'] ? $detail['name'] : ''}" lay-verify="required" placeholder="请输入名称" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label"><span style="color:red">*</span> 代码</label>
                    <div class="layui-input-block">
                        <input type="text" name="code" required value="{$detail['code'] ? $detail['code'] : ''}" lay-verify="required" placeholder="请输入代码" class="layui-input">
                    </div>
                </div>			
                <div class="layui-form-item">
                    <label class="layui-form-label"><span style="color:red">*</span> 类型</label>
                    <div class="layui-input-block">
                        <select name="type" lay-verify="">
                        	<option value="">请选择</option>  
                            {foreach $type as $k=>$v}
                            <option value="{$k}" {if $detail['type'] eq $k}selected{/if}>{$v}</option>
                            {/foreach}
                        </select>						
                     </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label"><span style="color:red">*</span> 参数值</label>
                    <div class="layui-input-block">
                        <input type="text" name="value" required value="{$detail['value'] ? $detail['value'] : '0'}" lay-verify="required" placeholder="请输入参数值" class="layui-input">
                    </div>
                </div>	
                <div class="layui-form-item">
                    <label class="layui-form-label"><span style="color:red">*</span> 是否预设</label>
                    <div class="layui-input-block">
                        <select name="is_default"  lay-filter="is_default">
                        	<option value="">请选择</option>  
                            {foreach $is_default as $k=>$v}
                            <option value="{$k}" {if $detail['is_default'] eq $k}selected{/if}>{$v}</option>
                            {/foreach}
                        </select>						
                     </div>
                </div>	
                <div class="layui-form-item default_value" {if condition="isset($detail['is_default'])"}{if condition="$detail['is_default'] eq 1"}{else /}style="display:none;"{/if}{/if}>
                    <label class="layui-form-label"> 预设值</label>
                    <div class="layui-input-block">
                        <input type="text" name="default_value" required value="{$detail['default_value'] ? $detail['default_value'] : ''}" placeholder="请输入预设值" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label"><span style="color:red">*</span> 是否显示</label>
                    <div class="layui-input-block">
                        <select name="is_display"  lay-filter="">
                        	<option value="">请选择</option>  
                            {foreach $is_display as $k=>$v}
                            <option value="{$k}" {if $detail['is_display'] eq $k}selected{/if}>{$v}</option>
                            {/foreach}
                        </select>						
                     </div>
                </div>												
                <div class="layui-form-item">
                    <label class="layui-form-label"><span style="color:red">*</span> 参数描述</label>
                    <div class="layui-input-block">
                        <textarea class="layui-textarea" name="desc"  value="{$detail['desc'] ? $detail['desc'] : ''}"  placeholder="请输入参数描述" >{$detail['desc'] ? $detail['desc'] : ''}</textarea>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button class="layui-btn" lay-submit lay-filter="admin-form">立即提交</button>
                        <button type="reset" class="layui-btn resetform layui-btn-primary">重置</button>
                    </div>
                </div>
            </form>
        </div>
    </fieldset>
</block>
<block name="myScript">
	<script>
   	$(".resetform").click(function(){
    	$('#layui-form')[0].reset();
   	})	
	layui.use('form', function(){
         var form = layui.form();
		 form.on('select(is_default)', function(data){
		 	if ( data.value == 1 ) {
				$(".default_value").show();
			} else if( data.value == 0 ) {
				$(".default_value").hide();
			} else {
				$(".default_value").show();
			}
			form.render();
		 })
	})			
	</script>
    {if condition="isset($detail['id'])"}
        <script>

            layui.use('form', function(){
                var form = layui.form();
                form.on('submit(admin-form)', function(data){
                    $.ajax({
                        type: "POST",
                        url: '{:url("edit")}',
                        data: data.field,
                        success: function(msg){
                            if( msg.code == 1 ){
                                parent.location.reload();
                            }else{
                                parent.layer.msg(msg.msg, {
                                    icon: 5,
                                    shade: [0.6, '#393D49'],
                                    time:1500
                                });
                            }
                        }
                    });
                    return false;
                });

            });

        </script>
        {else /}
        <script>
            layui.use('form', function(){
                var form = layui.form();
                form.on('submit(admin-form)', function(data){
                    $.ajax({
                        type: "POST",
                        url: '{:url("add")}',
                        data: data.field,
                        success: function(msg){
                            if( msg.code == 1 ){
                                parent.location.reload();
                            }else{
                                parent.layer.msg(msg.msg, {
                                    icon: 5,
                                    shade: [0.6, '#393D49'],
                                    time:1500
                                });
                            }
                        }
                    });
                    return false;
                });

            });
        </script>
    {/if}

    <style>
        .textarea{
            padding-left: 10px;
            border: 1px solid #e6e6e6;
        }
    </style>
</block>