{include file="public/base" /}
<script type="text/javascript" src="/static/admin/plugins/Copy/ZeroClipboard.min.js"></script>
<script type="text/javascript" src="/static/admin/plugins/Copy/artDialog.js"></script>
<link rel="stylesheet" type="text/css" href="/static/admin/plugins/Copy/default.css">
<block name="main"> 
    <fieldset class="layui-elem-field">
        <legend>系统配置 - 系统任务</legend>
        <div class="layui-field-box">
            <form class="layui-form" id="form-admin-add" action="">
            	
                <div class="layui-inline">
                    <label class="layui-form-label label-width">模块：</label>
                    <div class="layui-input-inline">
                        <select name="type">
                        	<option value="">请选择</option>
							{foreach $module as $key=>$value}
								{if $module eq ''}
								<option value="{$key}">{$value}</option>
								{else /}
								<option value="{$key}" {if $key eq $s_module}selected{/if}>{$value}</option>
								{/if}
							{/foreach}                    	
	                    </select>
                    </div>
                </div>					
				
                <div class="layui-inline">
                    <label class="layui-form-label label-width">任务名称：</label>
                    <div class="layui-input-inline">
                        <input type="text" name="task_name" value="{$name}" placeholder="任务名称" class="layui-input" onkeyup='clearSymbol(this)'>
                    </div>
                </div>					
				
                <div class="layui-inline">
                    <label class="layui-form-label label-width">状态：</label>
                    <div class="layui-input-inline">
                        <select name="is_on">
                        	<option value="">请选择</option>
							{foreach $is_on as $key=>$value}
								{if $s_is_on eq ''}
								<option value="{$key}">{$value}</option>
								{else /}
								<option value="{$key}" {if $key eq $s_is_on}selected{/if}>{$value}</option>
								{/if}
							{/foreach}                    	
	                    </select>
                    </div>
                </div>					
				
                <div class="layui-inline">
                    <span class="layui-btn sub">查询</span>
					<span class="layui-btn resetform layui-btn-primary">重置</span>
                </div>
            </div>
            </form>
			<span class="layui-btn layui-btn-normal api-add" data-info="确认要刷新命令吗?"><i class="layui-icon">&#xe608;</i> 刷新命令</span>
			<span class="layui-btn layui-btn-normal open"><i class="layui-icon">&#xe608;</i> 开启</span>
			<span class="layui-btn layui-btn-normal close"><i class="layui-icon">&#xe608;</i> 关闭</span>
			<span class="layui-btn layui-btn-normal edit_time"><i class="layui-icon">&#xe608;</i> 批量修改时间</span>
			<span class="layui-btn layui-btn-normal edit_ip"><i class="layui-icon">&#xe608;</i> 批量修改IP</span>
			<span class="layui-btn layui-btn-normal is_on"><i class="layui-icon">&#xe608;</i> 总开关</span>
            <table class="layui-table" id="list-admin" lay-even>
                <thead>
                <tr>
                	<th>&nbsp;</th>
                    <th>模块</th>
                    <th>任务名称</th>
                    <th>周期时间</th>
                    <th>状态</th>
                    <th>最后执行时间</th>
					<th>允许的IP地址</th>
                    <th>操作</th>
                </tr>
                </thead>
            </table>
        </div>
    </fieldset>
</block>
<block name="myScript">
	<script>
   	$(".resetform").click(function(){
    	$('#form-admin-add')[0].reset();
   	})		
	</script>	
    <script>
    	
		/**
		 * 
		 * @param {Object} obj
		 * 
		 */
        function clearSymbol(obj) {
            obj.value = obj.value.replace(/[%]/g,""); //清除"%"特殊字符
        }		
		
        /**
         * 格式化时间戳
         * @param fmt
         * @returns {*}
         * @constructor
         */
        Date.prototype.Format = function (fmt) {
            var o = {
                "M+": this.getMonth() + 1, //月份
                "d+": this.getDate(), //日
                "h+": this.getHours(), //小时
                "m+": this.getMinutes(), //分
                "s+": this.getSeconds(), //秒
                "q+": Math.floor((this.getMonth() + 3) / 3), //季度
                "S": this.getMilliseconds() //毫秒
            };
            if (/(y+)/.test(fmt)) fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
            for (var k in o)
                if (new RegExp("(" + k + ")").test(fmt)) fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
            return fmt;
        };

        layui.use(['layer', 'form'], function() {
            $(document).on('click', '.confirm', function () {
                var ownObj = $(this);
                layer.confirm(ownObj.attr('data-info'), {
                    btn: ['确定','取消'] //按钮
                }, function(){
                    $.ajax({
                        type: "POST",
                        url: ownObj.attr('data-url'),
                        data: {id:ownObj.attr('data-id')},
                        success: function(msg){
                            if( msg.code == 1 ){
                                location.reload();
                            }else{
                                layer.msg(msg.msg, {
                                    icon: 5,
                                    shade: [0.6, '#393D49'],
                                    time:1500
                                });
                            }
                        }
                    });
                });
            });

            $(".api-add").click(function(){
				layer.confirm('你确定要刷新命令吗?', {title:'刷新命令'}, function(){	
					$.post("{:url('RefreshCmd')}",function(data){
						if (data.code == 200) {
							location.reload();
						} else {
	                        layer.msg(data.msg, {
	                            icon: 5,
	                            shade: [0.6, '#393D49'],
	                            time:1500
	                        });							
						}
					},'json');							
				})				
            });

            $(".open").click(function(){
				layer.confirm('你确定要开启吗?', {title:'开启'}, function(){
					var checkObj = $("input[name='task_id']:checked");
					var ids=''
					var num = checkObj.length; 
					checkObj.each(function(){
						ids += $(this).val()+',';
					});	
					if (num<=0) {
						layer.alert('操作不能为空!',{icon:2});	
						return false;
					}	
					$.post("{:url('open')}",{'ids':ids,'is_on':1},function(data){
						if (data.code == 200) {
							location.reload();
						} else {
	                        layer.msg(data.msg, {
	                            icon: 5,
	                            shade: [0.6, '#393D49'],
	                            time:1500
	                        });							
						}
					},'json');							
				})				
            });			

            $(document).on('click', '.edit', function () {
                var ownObj = $(this);
                layer.open({
                    type: 2,
                    area: ['80%', '80%'],
                    maxmin: true,
                    content: ownObj.attr('data-url')+'&id='+ownObj.attr('data-id')
                });
            });

            var myFun = function (query) {
                query = query || '';
                return $('#list-admin').DataTable({
                    dom: 'rt<"bottom"ifpl><"clear">',
                    ordering: false,
                    autoWidth: false,
                    searching:false,
                    serverSide: true,
                    ajax: {
                        url:"{:url('ajaxGetIndex')}" + query,
                        type: 'GET',
                        dataSrc: function ( json ) {
                            if( json.code == 0 ){
                                parent.layer.msg(json.msg, {
                                    icon: 5,
                                    shade: [0.6, '#393D49'],
                                    time:1500
                                });
                            }else{
                                return json.data;
                            }
                        }
                    },
                    columnDefs:[
                        {
							"targets": 0,
							"render":function(data, type, row) {
								var returnStr = '';
								returnStr = '<input type="checkbox" name="task_id" value="' + row.task_id + '">';
								return returnStr;
							}
						},{
                            "targets":7,
                            "render":function(data, type, row){
                                var returnStr = '';
								var cmd = row.cmd;
								var base_path = '{$base_path}';
								var real_php_path = '{$real_php_path}';
								if(row.process_num>0){
									cmd += ' --_g_run_child_task_num='+row.process_num;
								}
								returnStr += '<a id="path_'+row.task_id+'" class="layui-btn layui-btn-normal" onclick="copycmd('+row.task_id+')" class="copy" style="cursor:pointer;" data-text="' + real_php_path + ' -f ' + base_path + cmd +'">复制命令</a>&nbsp;';
								returnStr += '<a id="path2_'+row.task_id+'" class="layui-btn layui-btn-danger" href="javascript:runView('+row.task_id+')" data-text="' + real_php_path + ' -f ' + base_path + cmd +'" style="cursor:pointer;">执行</a>&nbsp;';
								returnStr += '<span id="copy_record_'+row.task_id+'" class="layui-btn" onclick="copy_record('+row.task_id+',\''+row.platform_code+'\');" class="copy_record" style="cursor:pointer;">复制记录</span>&nbsp;';
								return returnStr;
                            }
                        }
                    ],
                    iDisplayLength : 20,
                    aLengthMenu : [20, 30, 50],
                    columns: [
						{"data": null },
                        {"data": "type"},
                        {"data": "task_name"},
                        {"data": "lx_time" },
                        {"data": "is_on" },
						{"data": "last_exec_time"},
                        {"data": "allow_ips" },
                        {"data": null }
                    ]
                });
            };
            var myTable = myFun();
            $('.sub').on("click", function(){
                myTable.destroy();
                myTable = myFun('?'+ $('#form-admin-add').serialize());
            });
        });
    </script>
	<script>
		/*复制命令的业务逻辑*/
		function copyText(text, callback){ // text: 要复制的内容， callback: 回调
		    var tag = document.createElement('input');
		    tag.setAttribute('id', 'cp_hgz_input');
		    tag.value = text;
		    document.getElementsByTagName('body')[0].appendChild(tag);
		    document.getElementById('cp_hgz_input').select();
		    document.execCommand('copy');
		    document.getElementById('cp_hgz_input').remove();
		    if(callback) {callback(text)}
		}
		/*复制命令*/
		function copycmd(id) {
			var str = $("#path_"+id).attr('data-text');
			 copyText( str , function (){
				layer.alert(str, {title: '复制命令'});
			})						
		}	
		
		/*复制命令*/
		function copy_record(task_id, pcode)
		{
			if(!pcode)
			{
				layer.alert('该记录不支持复制' , {title: '复制记录'});
				return ;
			}
			
			layer.confirm('确定要复制一条新的任务？', {title: '复制记录'}, function(){
				var url = "{:url('copy')}";
				$.post(url, {task_id : task_id}, function(data){
					if (data.code == 200) {
						layer.closeAll();
						$("#list-admin").DataTable().ajax.reload(); 
					} else {
                        layer.msg(data.msg, {
                            icon: 5,
                            shade: [0.6, '#393D49'],
                            time:1500
                        });							
					}
				}, "json");				
			})
		}	
		
		/*执行命令*/
		function runView(id) {
			var cmd=$("#path2_"+id).attr('data-text');	
			layer.confirm('确定要执行？', {title: '执行命令'} , function(){
				var d = new Date();
				var url = '{$BaseUrl}/auto_task/RunOneCommand/type/client/id/'+id+'/timestamp/'+d.getTime()+'?command_script='+encodeURIComponent(cmd);
				var title = '任务执行';
				layer.closeAll();
				window.open(url);return;
			})
		};				
	</script>
</block>